html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
}
html{
    background: #4B79A1; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4B79A1 , #283E51); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4B79A1 , #283E51); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
body {
    color: #fff;
    font-size:10px;
    font-family: 'Fira Sans Condensed', sans-serif;
    text-align:center;

    background-image: url(/img/squares.png);
}

.lang-block{
    position: relative;
    display: none;
    top: 50%;
    transform: translateY(-50%);
}

.lang-block h1{
    margin: 0;
    font-size: 36px;
}

.lang-block .status{
    font-size: 36px;
}

.active{
    display: block;
}